html,
body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    position: relative;
}

.white,
h1.white {
    color: #fff;
}


/*=====================================
=            Common Styles            =
=====================================*/


/**
 *
 * Include all the styles for the default HTML5 elements here
 *
 */

h1,h5 {
    font-weight: 700;
}

p.lead {
    font-weight: 100;
}

h2,
h4,
h6 {
    font-weight: 400;
}

p,
h3 {
    font-weight: 300;
}

footer {
    bottom: 0px;
    width: 100%;
    padding-bottom: 30px;
}

button,
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"],
textarea {
	box-shadow: none;
    border-radius: 2px;
    padding:10px;
    border:none;
    border-bottom:1px solid rgba(0,0,0,0.3);
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"]{
	border-bottom-color: rgba(0,0,0,0.75);
}

a,
a:focus,
a:hover {
    border: none;
    outline: none;
    border-bottom: none;
}


/*=====  End of Common Styles  ======*/

.logo {
    width: 180px;
    height: 60px;
    background-size: contain;
    background-image: url('../img/logo/univibe_horizontal_white.png');
    background-repeat: no-repeat;
}

.logo.color {
    background-image: url('../img/logo/univibe_horizontal_color.png');
}

.navbar-custom {
    border: none;
    margin-bottom: 0;
}

.navbar-brand {
    float: left;
    height: 0px;
    padding: 0px 15px;
    font-size: 0px;
    line-height: 0px;
}

.menu {
    font-size: 14px;
    font-weight: bold;
}

.menu-selected {
    font-size: 14px;
    font-weight: bold;
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
}

.theme-btn {
    font-size: 14px;
    font-weight: bold;
    border: 1px solid #fff;
    border-radius: 4px;
    padding: 7px 5px 7px 5px !important;
    background-color: transparent;
    color: #fff;
}

.theme-btn.dark{
	color:#000;
	border-color: #000;
}

.footer-menu {
    font-size: 14px;
    font-weight: normal;
    color: rgba(54, 54, 54, 1);
    outline: 0;
    text-decoration: none;
    line-height: 24px;
}

.globe-large {
    position: absolute;
    right: -102px;
    top: -53px;
}

.globe-med {
    position: absolute;
    left: -96px;
    top: -176px;
}

.globe-small {
    position: absolute;
    left: 372px;
    top: 60px;
}

.main-content {
    text-align: center;
    font-size: 16px !important;
}

.footer-right {
    float: right;
    margin-top: 19px;
}

.footer-img {
    width: 96px;
    float: right;
    clear: both;
}

.copyright {
    color: rgba(54, 54, 54, 1);
    font-weight: light;
    font-size: 14px;
    line-height: 24px;
    clear: both;
}

.full-width-btn {
    width: 100%;
}

.form-elements {
    border-bottom: 2px dotted #d9d9d9;
    text-decoration: none;
    outline: 0;
    box-shadow: none;
    border-radius: 0px;
}

.modal-title {
    font-size: 26px;
}

.form-control:focus {
    box-shadow: none;
}

.pt9 {
    padding-top: 7px;
}

.hero-image {
    float: right;
    position: relative;
    margin-top: -20px;
    height: 350px;
    left: 30%;
}

.client-card {
    height: 200px;
}

.client {
    transition: all 200ms ease-in;
    moz-transition: all 200ms ease-in;
    o-transition: all 200ms ease-in;
    opacity: 0.8;
    height: 144px;
    width: 144px;
    background-image: url(../img/clients/client@2x.jpg);
    background-repeat: no-repeat;
    background-size: 432px 144px;
}

.client:hover,
.client:focus {
    opacity: 1;
}

.client.client-bvp {
    background-position: 0 0;
}

.client.client-tsec {
    background-position: -144px 0;
}

.client.client-vjti {
    background-position: -288px 0;
}

.row.feature {
    padding: 20px 0 80px;
}

.row.service {
    padding: 20px 0 30px;
}

.row.service img {
    margin-top: 40px;
}

.btn-primary.outline {
    background: transparent;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 4px;
}

@media screen and (min-width:480px) {
    .hero-image {
        left: 0%;
    }
}

@media screen and (min-width: 768px) {
    .jumbotron {
        padding-top: 0px;
        padding-bottom: 48px;
    }
    .home-icon {
        width: 64px;
        height: 64px;
    }
    .hero-image {
        margin-top: -400px;
        height: 500px;
        left: 45%;
    }
}

@media screen and (min-width:992px) {
    .hero-image {
        margin-top: -350px;
        height: 600px;
        left: 30%;
    }
    .client {
        background-image: url(../img/clients/client@3x.jpg);
        background-repeat: no-repeat;
    }
}

@media screen and (min-width:1200px) {
    .hero-image {
        margin-top: -350px;
        height: 600px;
        left: 10%;
    }
}

.jumbotron.bghome {
    padding-top: 120px;
    background-color: #19227d;
    background-image: url(../img/pattern.png);
    background-repeat: repeat;
    background-position: center center;
}

.bgservices {
    background-color: #19227d;
    overflow: hidden;
    height: 60%;
}

.navbar-default {
    background-color: transparent;
    transition: all 0.5s;
    width: 100%;
    z-index: 1000;
    height: 60px;
    border-radius: 0px;
}

.scene {
    height: 100%;
}


/* tab css */

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    color: #452e8e;
    background-color: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #452e8e;
    font-size: 16px;
}

.nav-tabs > li > a {
    border: none;
    border-bottom-color: transparent;
    border-radius: 0px;
    color: #6f73b7;
    font-size: 16px;
}

.nav > li > a:hover,
.nav > li > a:focus {
    text-decoration: none;
    background-color: transparent;
}

.nav-tabs > li > a:hover {
    background-color: transparent;
    color: #452e8e;
    border-bottom: 2px solid #452e8e;
}

.nav-tabs.nav-justified > .active > a,
.nav-tabs.nav-justified > .active > a:hover,
.nav-tabs.nav-justified > .active > a:focus {
    border-bottom: 2px solid #452e8e;
    background-color: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
}

.service-img{
    padding-top:20px;
    height: 150px;
}

.team-img {
    height: 180px;
    position: relative;
    text-align: center;
}

.team1 {
    background: url(../img/hitesh.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.team2 {
    background: url(../img/ankit.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.team3 {
    background: url(../img/shray.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.team4 {
    background: url(../img/mayank.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.team5 {
    background: url(../img/dhruvin.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.animatename {
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    height: 100%;
    display: none;
}


.name {
    padding-top: 50px;
}

.main {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -20%);
    text-align: center
}

.mgt30 {
    margin-top: 30px;
}

.scrolls {
    position: relative;
}

.nav-tabscroll {
    z-index: 1;
    background-color: #fff;
    top: 60px;
}

.thumb {
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 4px;
}

.home-icon {
    width: 128px;
    height: 128px;
}

@media screen and (max-width: 768px) {
    .nav-tabs.nav-justified > .active > a,
    .nav-tabs.nav-justified > .active > a:hover,
    .nav-tabs.nav-justified > .active > a:focus {
        border-bottom-color: #452e8e;
    }
    .side-collapse {
        top:0px;
        bottom: 0;
        left: 0;
        width: 200px !important;
        position: fixed;
        overflow: hidden;
        transition: width .4s;
        z-index: 10000;
        background-color: #fff !important;
        text-align: left;
    }
    .side-collapse.in {
        width: 0;
    }
    .navbar-default .navbar-nav > li > a {
        color: #000 !important;
    }
    .contactmobile {
        display: block !important;
    }
    .contactus {
        display: none;
    }
    .mobile-nav {
        margin: 10px 4px;
    }
    .footer-right {
        float: none;
        text-align: center;
    }
    .footer-img {
        float: none;
    }
   
    .footer-heading {
        font-size: 16px;
    }
    .mobile-icons {
        display: block !important;
    }
    .jumbotron {
        padding-top: 0px;
        padding-bottom: 48px;
    }
    .modal-dialog {
        width: 500px;
        margin: 100px auto;
    }
    .home-icon {
        width: 64px;
        height: 64px;
    }
    .navbar-collapse{
	background-color: #ffffff;
}
.logo{
	margin-left: -60px;
	left: 50%;
	position: absolute;
}

}

.contactus {
    float: right;
    color: #fff;
    padding: 15px 0px 0px 20px;
    list-style: none;
}

.contactmobile {
    float: right;
    color: #fff;
    padding: 15px 0px 0px 20px;
    list-style: none;
    display: none;
}

.contactmobile a:hover {
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 4px;
}

.contactus a:hover {
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 4px;
}

.icon {
    padding: 5px 10px 5px 10px;
    font-size: 18px;
}

.mobile-icons {
    display: none;
}

.fa-facebook {
    color: #3b5998;
}

.fa-linkedin {
    color: #007bb5
}

.fa-envelope {
    color: #dd4b39;
}

